@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root
{
    /*Colors*/
    --cyan : hsl(179,62%,43%);
    --bright-yellow: hsl(71,73%,54%);

    --light-gray: hsl(204,43%,93%);
    --grayish-blue: hsl(218,22%,67%);

    /*Typography*/
    --font-size: 16px;

    --font-fam: 'Karla', sans-serif;

    --regular-weight: 400;
    --bold-weight: 700;
}

*
{
    margin: 0px;
    padding: 0px;
    
    box-sizing: border-box;
}

body
{
    width: 100%;
    height: auto;

    display: block;

    font-family: var(--font-fam);

    position: relative;
}

p
{
    font-size: var(--font-size);
}

main
{
    width: 100%;
    height: auto;
    min-height: 100vh;

    background-color: var(--light-gray);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 100px 0px;
}

#card-section
{
    width: 49%;
    height: auto;

    display: grid;
    grid-template-rows: 1fr 1.2fr;

    box-shadow: 0px 15px 40px rgba(0,0,0,0.15)
}

#month-why-part
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#join-part, #month-part, #why-part
{
    padding: 40px;
}

#join-part
{
    background-color: white;

    border-radius: 7px 7px 0px 0px;
}

h1
{
    display: block;

    font-weight: var(--bold-weight);
}

h1 span
{
    display: inline-block;
}

#main-heading
{
    color: var(--cyan);

    margin-bottom: 23px;

    font-size: 1.8rem;
}

#sub-heading
{
    color: var(--bright-yellow);

    font-size: 1.3rem;
}

#join-part p
{
    margin-top: 10px;

    color: var(--grayish-blue);

    line-height: 1.7rem;
}

#month-part
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--cyan);

    border-radius: 0px 0px 0px 7px;

    color: white;
}

#pricing-parag
{
    display: flex;
    align-items: center;

    width: auto;
    height: auto;
}

#pricing-parag span:nth-child(1)
{
    font-size: 1.8rem;
    font-weight: var(--bold-weight);
}

#pricing-parag span:nth-child(2)
{
    font-size: 0.8rem;

    margin-left: 20px;

    opacity: 60%;
}

#month-part p:nth-of-type(2)
{
    margin: 00px 0px;
}

#signup-anchor
{
    width: 100%;
    height: auto;

    padding: 15px 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bright-yellow);

    border-radius: 5px;

    color: white;

    font-size: var(--font-size);
    font-weight: var(--bold-weight);

    text-decoration: none;

    transition: 0.5s all;
}

#signup-anchor:hover
{
    box-shadow: 0px 15px 30px rgba(0,0,0,0.20)
}

#why-part
{
    background-color: rgb(73, 214, 212);

    color: white;

    border-radius: 0px 0px 7px 0px;
}

h2
{
    font-size: 1.4rem;
    font-weight: var(--bold-weight);

    margin-bottom: 0px;
}

#reasons-list
{
    color: var(--light-gray);

    list-style: none;

    margin-top: 15px;
}

.reasons
{
    margin: 7px 0px;
}

.reasons:last-of-type
{
    margin-bottom: 0px;
}

footer
{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 2%;
}

.attribution
{ 
    font-size: 11px; 
    text-align: center; 
}

.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 1440px)
{
    #card-section
    {
        width: 49%;
    }
}

@media only screen and (max-width: 1080px)
{
    #card-section
    {
        width: 70%;
    }
}

@media only screen and (max-width: 1024px)
{
    #card-section
    {
        width: 80%;
    }
}

@media only screen and (max-width: 965px)
{
    #card-section
    {
        width: 60%;

        display: grid;
        grid-template-rows: 1fr;
    }

    #join-part, #month-part, #why-part
    {
        padding: 40px 20px;
    }

    #month-why-part
    {
        display: grid;
        grid-template-columns: 1fr;
    }

    #month-part
    {
        border-radius: 0px;
    }

    #pricing-parag
    {
        margin: 20px 0px;
    }

    #signup-anchor
    {
        margin-top: 20px;
    }

    #why-part
    {
        border-radius: 0px 0px 7px 7px;
    }
}

@media only screen and (max-width: 768px)
{
    main
    {
        padding: 40px 0px;
    }

    #card-section
    {
        width: 80%;
    }
}

@media only screen and (max-width: 375px)
{
    #card-section
    {
        width: 85%;
    }
}
